<div class="mt-8">
  <h2>Website Baru</h2>

  <form action="/admin/websites" method="post">
    <div>
      <label for="name">Nama</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div class="mt-2">
      <label for="identifier">Identifier</label>
      <input type="text" name="identifier" id="identifier" required>
    </div>
    <input type="submit" value="Simpan" class="mt-8">
  </form>
</div>
